  
    <!-- notification-bar starts -->
    <div class="container-fluid">
      <!-- row -->
      <div class="row notification-bar justify-content-between align-items-center">

        <!-- column 1 -->
        <div class="col-sm-4 search-bar input-group justify-content-start">
          <div>
            <button class="btn notificationbar-toggler">
              <i class="fas fa-bars fa-2x notif-bar-icon mr-2"></i>
            </button>            
            <input type="text" placeholder="Search" name="" id="search-value" class="border-0">
            <button class="btn " type="button" id="search-btn"><i class="fas fa-search  notif-bar-icon"></i></button>
          </div>
        </div>

      <!-- column 2 -->
        <div class="col-sm-8 admin-bar input-group justify-content-end">
          <!-- full screen -->
          <div>
            <button class="btn btn-maximize-window">
              <i class="fas fa-window-maximize notif-bar-icon"></i>
            </button>
            <!-- notifications -->
            <button class="btn btn-notifications">
              <span class="notification-number position-absolute start-100 translate-middle btn-danger badge rounded-pill">
               2
              </span>
              <i class="fas fa-bell notif-bar-icon"></i>
            </button>
            <!-- admin image -->
            <img src="./src/images/ima.jpg" class="admin-image rounded-circle img-fluid" height="45rem" width="50rem" alt="user image">
            <!-- admin name -->
            <span class="admin-name">Shahrukh</span>
            <!-- settings -->
            <button class="btn btn-settings">
              <i class="fa fa-cog fa-spin fa-fw notif-bar-icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- notification-bar Ends -->

