    <!-- sidebar starts -->

    <div class="container-fluid sidebar-container">
        <div class="row">
          <div class="col-3 sidebar">
  
            <!--Header logo and toggle button -->
            <div class="sidebar-header row justify-content-center ">
  
                  <a href="#" >
                    <i class="fas fa-webcam fa-2x brand-logo"></i>
                  </a>
               
                  <a href="#">
                    <p class="sidebar-text">Ecommerce</p>
                  </a>
    
            </div>
  
            <div class="primary-divider"></div>
            <!-- Content  -->
            <div class="sidebar-content">
  
              <div class="list-group">
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action active">Cras justo odio
                  <div class="list-group">
                    button.btn.btn-transparent.list-group-action.list-group-item{List $}*4
                    
                  </div>
  
  
                </button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Morbi leo risus
                  <span class="badge badge-primary badge-pill">14</span>
                </button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Vestibulum at eros</button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="btn btn-transparent list-group-item list-group-item-action">Vestibulum at eros</button>
              </div>
            </div>          
  
          </div>
        </div>
      </div>
  
  
      <!-- sidebar ends -->
  